.login-form {
  padding-left: 24px;
  max-width: 408px;
  line-height: 1.5;
}

.form-label {
  display: block;
}

.form-label:not(:last-of-type) {
  margin-bottom: 8px;
}

.form-input {
  padding: 8px 16px;

  border-radius: 4px;
  border: 1px solid #808080;

  min-height: 40px;
  min-width: 100%;
  display: block;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  transition: border-color 250ms ease-in-out;
}

.form-input:hover {
  border-color: #000000;
}

.form-btn {
  margin-top: 16px;
  padding: 8px 16px;

  display: inline-block;

  font-weight: 500;
  font-size: inherit;
  font-family: inherit;
  color: #ffffff;

  border-radius: 8px;
  border: none;
  background-color: #4e75ff;

  cursor: pointer;

  transition: background-color 250ms ease-in-out;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #6c8cff;
}
